.main-container {
    -fx-background-color: #F5F5F5;
    -fx-padding: 20;
    -fx-spacing: 20;
}

/* Left Section Styles */
.profile-left {
    -fx-background-color: #FFFFFF;
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 10);
}

.profile-image {
    -fx-border-color: #CCCCCC;
    -fx-border-radius: 100;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 5);
}

.profile-name {
    -fx-font-size: 2.4em;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.profile-username {
    -fx-font-size: 1.2em;
    -fx-text-fill: #777777;
    -fx-font-family: "Segoe UI", sans-serif;
}

.details-container .detail-label {
    -fx-font-size: 1.1em;
    -fx-text-fill: #555555;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: normal;
}

/* Right Section Styles */
.profile-right {
    -fx-background-color: #FFFFFF;
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 10);
}

.section-title {
    -fx-font-size: 1.5em;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}

.text-field {
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 3, 0, 0, 3);
    -fx-padding: 5;
    -fx-border-color: #CCCCCC;
    -fx-border-radius: 5;
    -fx-font-family: "Segoe UI", sans-serif;
}

.button-label {
    -fx-background-color: linear-gradient(to right, #4CAF50, #66BB6A);
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 3, 0, 0, 3);
    -fx-cursor: hand;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-radius: 9px;
}

.button-label:hover {
    -fx-background-color: #388E3C;
}

.send-status {
    -fx-font-size: 1.1em;
    -fx-text-fill: #4CAF50;
    -fx-font-family: "Segoe UI", sans-serif;
}

.inbox-list {
    -fx-background-color: #F5F5F5;
    -fx-border-color: #CCCCCC;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 3, 0, 0, 3);
    -fx-padding: 5;
    -fx-font-family: "Segoe UI", sans-serif;
}